<<<<<<< HEAD
/* * {
    background-color: bisque;
} */
=======
/* 
* {
    background-color: red;
} 
*/
>>>>>>> 6d00e0909b0fc7766736a8ae64228ba8946234c4

#p2 {
    color: blue;
}

.vorosek {
    color: red;
    font-size: 20px;
}

div {
    border: 1px solid black;
}

body>p:first-of-type {
    color: yellow;
}

<<<<<<< HEAD
=======
/* közvetlen gyerek */
>>>>>>> 6d00e0909b0fc7766736a8ae64228ba8946234c4
body>p {
    background-color: blueviolet;
}

li.vorosek+li {
<<<<<<< HEAD
    background-color: yellow;
=======
    background-color: gold;
>>>>>>> 6d00e0909b0fc7766736a8ae64228ba8946234c4
}

li.vorosek~li {
    border-right: 5px solid brown;
}

p:first-child {
    font-size: 30px;
}
<<<<<<< HEAD
=======

>>>>>>> 6d00e0909b0fc7766736a8ae64228ba8946234c4
ol li:nth-child(4) {
    font-family: 'Courier New';
}

<<<<<<< HEAD
tr:nth-child(2n+1) {
    background-color: indianred;
}

=======
tr:nth-child(3n+1) td {
    background-color: indianred;
}

td:nth-child(2n+1) {
    background-color: khaki;
}

>>>>>>> 6d00e0909b0fc7766736a8ae64228ba8946234c4
[title] {
    font-style: italic;
}

[title = "masodik"] {
    font-weight: bold;
}