p {
    color: red;
}

nav {
    border: 1px solid black;
    padding: 21px;
}

nav a {
  color: green;
  padding: 20px;
  background-color: yellow;
}

nav a:hover {
  color: red;
  padding: 20px;
  background-color: yellow;
}

h2, h3 {
    color: purple;
}

body {
    color: coral;
}